Keycloak__Authority=https://keycloak.example/realms/example
Keycloak__Realm=example
Keycloak__ClientId=aethericforge-web
Keycloak__ClientSecret=replace-me
MongoDb__Host=mongodb.example
MongoDb__Port=27017
MongoDb__Username=aethericforge-web
MongoDb__Password=replace-me
MongoDb__DatabaseName=aethericforge-web
MongoDb__AuthenticationDatabase=aethericforge-web
MongoDb__DirectConnection=true
Redis__Host=redis.example
Redis__Port=6379
Redis__Password=replace-me
Redis__Ssl=false
Redis__Database=0
RabbitMq__Host=rabbitmq.rabbitmq.svc.cluster.local
RabbitMq__Port=5672
RabbitMq__Username=aethericforge-web
RabbitMq__Password=replace-me
RabbitMq__VirtualHost=aethericforge-web
RabbitMq__Ssl=false
S3__ServiceUrl=https://s3.example
S3__AccessKey=replace-me
S3__SecretKey=replace-me
S3__ForcePathStyle=true
S3__AuthenticationRegion=us-east-1
S3__BucketName=forge-campus-archive
